---
layout: layouts/base.njk
---

{% block head %}
  {# Mapbox GL JS #}
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
{% endblock %}

<div class="wrapper">
  <div class="content">
    {{ content | safe }}
  </div>
</div>

{% block scripts %}
  <script src="/public/mapbox.js" defer></script>
{% endblock %}
