name: 11ty Publish to Dreamhost
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Check GRIST_API_KEY
        run: |
          if [ -z "${{ secrets.GRIST_API_KEY }}" ]; then
            echo "GRIST_API_KEY is not set. Failing the pipeline."
            exit 1
          fi

      - name: Build
        run: yarn build
        env:
          GRIST_API_KEY: ${{ secrets.GRIST_API_KEY }}
          MAPBOX_API_KEY: ${{ secrets.MAPBOX_API_KEY }}
          NODE_ENV: "production"

      # - name: Deploy to Dreamhost
      #   uses: AEnterprise/rsync-deploy@v1.0.2
      #   env:
      #     DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
      #     ARGS: "-e -c -r --delete"
      #     SERVER_PORT: 22
      #     FOLDER: "build/"
      #     SERVER_IP: alsea.dreamhost.com
      #     USERNAME: funwhilelost
      #     SERVER_DESTINATION: /home/funwhilelost/funwhilelost.com

      - name: Deploy with rsync
        shell: bash
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_rsa
          rsync -rav -e "ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa" --delete build/ funwhilelost@pdx1-shared-a1-06.dreamhost.com:/home/funwhilelost/funwhilelost.com
